@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .animate-spin-slow {
    animation: spin 3s linear infinite;
  }
  .animate-spin-fast {
    animation: spin 1.5s linear infinite;
  }
  .animate-dash {
    animation: dash 2s ease-in-out infinite;
  }
}

@keyframes dash {
  from,
  to {
    stroke-dashoffset: -338;
  }
  50% {
    stroke-dashoffset: 0;
  }
}
.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tab:hover {
  transform: scale(1.1);
}

.tab:active {
  transform: scale(0.95);
}

.tab:focus {
  outline: none;
}
@keyframes fly {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  80% {
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 1;
  }
  100% {
    top: -10%;
    left: 100%;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
}

.animate-fly {
  animation: fly 2s ease-in-out forwards;
}
